/* body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Patan-Palastplatz-14-Tauben-2013-gje.jpg/1920px-Patan-Palastplatz-14-Tauben-2013-gje.jpg);
    height: 800px;
  } */

  body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Patan-Palastplatz-14-Tauben-2013-gje.jpg/1920px-Patan-Palastplatz-14-Tauben-2013-gje.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  /* https://commons.wikimedia.org/wiki/Category:Patan,_Nepal#/media/File:Patan-Palastplatz-14-Tauben-2013-gje.jpg */

.intro {
    margin-top:1.5rem;
    margin-bottom: 5rem;
    /* background-color: aquamarine; */
    opacity:1;
    height:80vh;

}

.intro p{
    
}


.posterImage{
   max-height: 500px;
    margin-bottom: 200px;
    
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 10px;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    /* background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1)); */
    opacity: 1;
    transition: opacity .3s;
}   

.posterImage__title {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 0.25rem;
    text-align: left;
    width: 50%;
}
.posterImage__description {
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    text-align: left;
    width: 50%;
}
