.menu_item {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    margin: .5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 100px;
    ;
}


.item_image img {
    max-width: 90%;
    max-height: 450px;
    border-radius: 10px;
    ;

}

.item_details {
    margin: 20px;
    max-width: 40%;
    padding: 5px
}

.item_details img {
    max-width: 60px;
    display: inline-block
}

.item {
    margin: 10px;
}

button {
    width: 100%;
}